p Здравствуйте!

p Мы хотим предложить Вам разместить ваши объявления на новом геопозиционном сервисе, специализирующемся на рынке пиломатериалов.

p style="text-align: center"
  a.btn.btn-primary href="https://#{Company.current_company.name}.pro" target="_blank" Разместить объявление

p Это полностью бесплатно и не отнимет много времени.
p Спасибо, что уделили время! Будем рады обратной связи.