.nav__link--primary {
  color: #ED992D;
}

.nav__link--primary:hover {
  color: #F8B660;
}

.btn-primary {
  color: #2b2b2b;
  background-color: #ffdb4c;
}
.btn-primary:hover {
  background: #FFE57D;
}

.page__title {
  border-color: #ED992D;
}

.switcher__item.active:before {
  background: #ED992D;
}