.btn-primary {
  color: #2b2b2b;
  background-color: #ffdb4c;
}
.btn-primary:hover {
  background: #FFE57D;
}

.page__title {
  border-color: #ffdb4c;
}

.switcher__item.active:before {
  background: #ffdb4c;
}

.search__action {
  background: #ffdb4c;
  color: #2b2b2b;
}

.new-position-btn {
  background: #ffdb4c;
  color: #2b2b2b;
}

.search__action:before {
  border-color: transparent transparent transparent #ffdb4c;
}

.search__action:hover {
  background: #FFE57D;
}

.search__action:hover:before {
  border-color: transparent transparent transparent #FFE57D;
}

.new-position-btn:hover {
  background: #FFE57D;
}

.search.focused .search__input input[type="text"] {
  border: 2px solid #ffdb4c;
}

.images__arrow {
  background: rgba(255, 219, 76, .62);
}

.images__arrow:hover {
  background: rgba(255, 219, 76, .9);
}

.position-documents__item__extension {
  color: #2b2b2b;
  background-color: #ffdb4c;
}

.tag {
  background: #ffdb4c;
  color: #2b2b2b;
}

.tag__remove {
  color: #2b2b2b;
}

.link {
  color: #f44336;
}