.about {
}
.about-top-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
}

.about-top-image img {
  height: 100%;
}

.about-content {
  float: right;
  text-align: right;
  position: relative;
  z-index: 2;
  width: 100%;
}

.about-first-screen {
  padding: 20px;
  margin-bottom: 15px;
}

.about-logo {
  margin-top: 20px;
}
.about-logo img {
  height: 97px;
  width: auto;
}

.about-title {
  font-size: 32px;
  margin-bottom: 11px;
  text-align: right;
  color: #4D4D4F;
  font-weight: lighter;
}

.about-description {
  font-weight: lighter;
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0;
  text-align: right;
  padding-left: 160px;
}

.about-description strong{
  font-weight: normal;
}

.about-start {
  margin-top: 30px;
}

.about-start__title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  font-size: 20px;
}

.about-no-captcha {
  width: 304px;
  height: 78px;
  display: inline-block;
  vertical-align: middle;
}


.about-langs a {
  font-size: 14px;
  margin-left: 10px;
}
.about-section {
  padding: 20px;
  border-top: 1px solid #F0F0F0;
  clear: both;
}

.about-section__col {
  margin-top: 25px;
}

.about-section-title {
  color: rgba(0, 0, 0, 0.870588);
  margin: 10px 0;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
}

.about-section-description {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.870588);
  font-size: 16px;
  text-align: center;
  opacity: .64;
}

.about-section-icon {
  text-align: center;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.498039);
}

.about-section-gray {
  background: #FAFAFA;
}

.about-subtitle {
  font-size: 32px;
  color: #4D4D4F;
  font-weight: lighter;
  margin: 15px 0;
}

.about-partners {
  margin-top: 35px;
}

.about-subdescription {
  color: rgba(0, 0, 0, 0.870588);
  font-size: 17px;
  font-weight: lighter;
  opacity: .64;
  margin-bottom: 15px;
}

.about-footer {
  padding-top: 30px;
  padding: 40px 20px 10px 20px;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 0 !important;
}
.about-footer-logo {
  margin-top: -20px;
  text-align: center;
}

.about-copyright {
  text-align: left;
  color: rgb(51, 51, 51);
  opacity: .64;
}

.about-questions {
  border-bottom: 1px solid #F0F0F0;
}

.about-question__title {
  color: rgba(0, 0, 0, 0.870588);
  font-size: 16px;
  margin: 15px 0;
}

.about-question__description {
  color: rgba(48, 48, 48, 0.870588);
  font-size: 16px;
  font-weight: lighter;
}
.about-question__description strong {
  font-weight: normal;
}