header {
  height: 55px;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.08);
  position: absolute;
  z-index: 1002;
  left: 0;
  right: 0;
}

header {}

.map {
  position: absolute;
  top: 55px;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.logo {display: block;float: left;}

.logo img {
  margin: 10px 20px;
  display: block;
}

.lang {
  position: absolute;
  right: 15px;
  top: 19px;
  cursor: pointer;
}
.lang__selected {

}

.search {
  position: absolute;
  left: 72px;
  right: 330px;
  height: 55px;
}

.search__input {
  position: absolute;
  left: 50px;
  right: 0;
}

.search__input__icon {
  position: absolute;
  font-size: 16px;
  margin: 17px;
  color: #777777;
  left: -41px;
  top: 3px;
}

.search__input input[type="text"] {
  height: 55px;
  width: 100%;
  font-size: 14px;
  border: none;
}

.nav {
  position: absolute;
  right: 0;
  width: 315px;
  text-align: right;
  padding-right: 5px;
}

.nav__link {
  color: #59595A;
  font-size: 14px;
  text-decoration: none !important;
  display: inline-block;
  margin: 20px 10px;
}

.nav__link:hover {
  color: #7F7F80;
}

.nav__lang__arrow {
  margin-left: 5px;
  font-size: 11px;
}

.location {
  height: 188px;
  background: #F5F5F5;
}

.contact-wrapper {
  position: relative;
  height: 140px;
}

.upload-logo {
  width: 140px;
  height: 100%;
  background: #F5F5F5;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  border: 1px dashed #D0D0D0;
}
.upload-logo img {
  width: 100%;
  position: absolute;
  display: block;
}
.upload-logo:hover {
  background: rgba(245, 245, 245, 0.66);
}

.upload-logo__description {
  text-align: center;
  font-size: 12px;
  margin-top: 90px;
  color: #888888;
  position: relative;
}
.upload-logo__icon {
  padding: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 32px;
  margin: -24px -16px;
  color: #A4A4A4;
}

.contact-info {
  position: absolute;
  left: 160px;
  right: 0;
  top: 0;
  height: 100%;
}

.upload-files {
  height: 140px;
  background: #F5F5F5;
  text-align: center;
  color: #59595A;
  font-size: 20px;
  padding: 55px 0;
  cursor: pointer;
  border: 1px dashed #D0D0D0;
  display: block;
}

.upload-files:hover {
  background: rgba(245, 245, 245, 0.66);
}


.switcher {
  display: block;
  width: 100%;
  overflow: visible;
  border: 1px solid #E4E4E4;
  height: 34px;
  border-radius: 3px;
  cursor: pointer;
}

.switcher__item {
  display: block;
  width: 50%;
  float: left;
  height: 100%;
  color: #59595A;
  font-weight: normal;
  font-size: 13px;
  position: relative;
  padding: 8px;
  text-align: center;
  background: white;
}

.switcher__item.active {
  font-weight: 500;
  background: #F9F9F9;
}
.switcher__item.active:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -1px;
  left: 0;
  right: 0;
}

.switcher .switcher__item:not(:last-child) {
  border-right: 1px solid #E4E4E4;
}

.blur {
  -webkit-filter: blur(3px);
}

.view-switcher {
  position: absolute;
  bottom: 40px;
  right: 15px;
  z-index: 1001;
  width: 40px;
}

.view-switcher .switcher{
  display: inline-block;
  width: 150px;
  vertical-align: middle;
}

.positions-table {
  margin-bottom: 25px;
}

.images {
  height: 150px;
  position: relative;
}
.images__arrows {
  position: absolute;
  right: 0;
  top: 0;
}
.images__arrow {
  width: 50px;
  height: 50px;
  background: rgba(139, 195, 74, .62);
  color: white;
  padding: 17px;
  float: left;
  cursor: pointer;
}


.images__arrow:hover {
  background: rgba(139, 195, 74, .9);
}

.images__list a {
  display: inline-block;
  text-decoration: none !important;
}

.images__list img {
  margin-right: 10px;
}

.position-page__left {
  width: 250px;
  float: left;
}

.position-page__right {
  margin-left: 290px;
}

.position-page__params {
}
.position-page__about {
  font-size: 14px;
}
.position-page__contacts {
  margin-top: 25px;
}

.position-page__contacts__info {
  float: left;
  margin-left: 20px;
}

.position-page__avatar {
  width: 100px;
  height: 100px;
  background: #ECECEC;
  float: left;
}

.position-page__contacts__name {
  margin: 2px 0 10px 0;
}

.position-images {
  padding: 0;
  list-style: none;
  margin: 0;
}
.position-images__item {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 15px 0;
  height: 150px;
  width: 150px;
  text-align: center;
  position: relative;
}

.position-images__link {
  display: inline-block;
}

.position-images__add {
  background: #F5F5F5;
  cursor: pointer;
  border: 1px dashed #D0D0D0;
}
.position-images__add label {
  padding: 60px 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}


.position-images__add:hover {
  background: rgba(245, 245, 245, 0.66);
}

.position-images__icon {
  color: #A4A4A4;
  font-size: 30px;
}

.position-documents {
  margin: 0;
  padding: 0;
  list-style: none;
}

.position-documents__item {
  margin-bottom: 10px;
}

.position-documents__item__extension {
  display: inline-block;
  font-size: 12px;
  background: #2787EB;
  padding: 2px 6px;
  color: white;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 5px;
  min-width: 32px;
  text-align: center;
}

.position-documents__item__link {
  vertical-align: middle;
  font-size: 13px;
}

.position-documents__item__size {
  display: inline-block;
  font-size: 13px;
  margin-left: 5px;
  color: #848484;
}

.position-documents__item__trash {
  margin: 0 10px;
  cursor: pointer;
  vertical-align: middle;
  color: #FF4A4A;
  position: relative;
  top: -2px;
}

.position-address {
  margin: 10px 0;
}

.position-address span {
  font-size: 14px;
  vertical-align: middle;
}

.position-address i {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -2px;
}

.map-locator {
  display: inline-block;
  height: 40px;
  width: 40px;
  background: white;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  padding: 8px;
  color: #717171;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  cursor: pointer;
}

.map-locator:hover {
  background: #F9F9F9;
}

.nav__lang-list {
  background: white;
  position: absolute;
  right: 7px;
  top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.nav__lang-list a {
  display: block;
  padding: 9px 22px;
  font-size: 14px;
}
.nav__lang-list a:hover {
  background: rgba(247, 247, 247, 0.58);
}

.no-positions {
  font-size: 18px;
  text-align: center;
}