/* line 1, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 3, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 4, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 5, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 6, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 7, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 8, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 9, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 10, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 11, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 12, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 13, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 14, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.page {
  background: white;
  width: 880px;
  margin: 60px auto;
  overflow: hidden;
  position: relative;
  z-index: 1001;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  min-height: 300px;
}

/* line 11, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 14, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 17, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 19, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 22, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 25, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 27, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 27, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 28, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 31, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 33, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 35, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 37, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.page__close, .page__edit, .page__show {
  position: absolute;
  top: 10px;
  padding: 2px;
  text-decoration: none;
  color: #D4D4D4;
  transition: .1s;
}

.page__close {
  font-size: 32px;
  right: 10px;
}

.page__edit, .page__show {
  right: 55px;
  top: 10px;
}

.page__edit {
  font-size: 29px;
}

.page__show {
  font-size: 31px;
}

.page__show:hover, .page__edit:hover, .page__close:hover {
  color: rgba(51, 51, 51, 0.46);
}

/* line 29, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 34, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 38, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 43, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 48, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 52, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 54, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 57, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 62, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 66, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 70, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 74, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.page__title {
  font-size: 20px;
  color: #626262;
  padding: 7px 0 7px 25px;
  margin: 20px 0 15px 0;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  display: inline-block;
  line-height: 14px;
}

/* line 65, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 69, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 75, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 80, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 85, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 90, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.page-layout {
  padding: 25px;
}

/* line 69, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 74, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 81, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 87, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 93, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 99, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.page-footer {
  background: rgba(247, 247, 247, 0.58);
  height: 70px;
  padding: 18px 25px;
}

/* line 75, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 81, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 89, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 96, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 103, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 110, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.49);
  z-index: 1002;
  overflow-y: auto;
}

/* line 100, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 108, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 116, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 124, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.page-footer__text {
  padding: 10px 0;
  font-size: 14px;
  color: #8C8C8C;
}

/* line 106, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 115, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 124, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 133, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.page-footer__text strong {
  font-weight: 500;
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 112, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 122, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 132, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
/* line 142, /Users/pavelkononenko/devel/forpro/app/assets/stylesheets/page.scss */
.page_subtitle {
  margin: 0 0 15px 0;
  padding-bottom: 5px;
  font-size: 16px;
  color: #626262;
  font-weight: normal;
  border-bottom: 1px solid #EAEAEA;
}