.marker-label {
  z-index: 99;
  position: absolute;
  min-width: 70px;
  transition: .3s;
  color: black;
  cursor: pointer;
  margin-top: -30px;
  margin-left: -8px;
  font-weight: normal;
}
  
.marker-label.cluster {
  margin-top: -14px;
  margin-left: 0;
}

.marker-label:after {
  transition: all .3s ease .3s;
  transform: rotate(0deg);
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -37px;
  border-style: solid;
  border-width: 0 14px 12px 0;
}

.marker-label__head {
  height: 15px;
  white-space: nowrap;
  color: white;
  font-size: 10px;
  padding: 0 5px;
  line-height: 14px;
  position: absolute;
  max-width: 115px;
  overflow: hidden;
  z-index: 1;
  top: -15px;
  min-width: 80px;
}
  
.marker-label__body {
  text-transform: capitalize;
  height: 25px;
  width: auto;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  min-width: 70px;
  white-space: nowrap;
  color: white;
  padding: 5px;
  line-height: 14px;
  margin: 0;
  max-width: 115px;
  transition: margin .3s ease .3s, height .3s, background .3s;
  font-size: 14px;
}
  
.marker-label__head:before, .marker-label__body:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 25px;
  transition: .3s;
}
.marker-label:hover > .marker-label__body, .marker-label:hover > .marker-label__head {
  max-width: none;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
}

.markers-choose {
  width: 140px;
  height: 140px;
  display: inline-block;
  vertical-align: top;
  padding: 75px 0 0 0;
  border: 1px solid #EBEBEB;
  margin: 0 20px 20px 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.markers-choose:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: asset-url("mini_map.png");
  background-size: 100%;
  -webkit-filter: blur(2px);
}



.markers-choose .marker-label {
  top: 74px;
  left: 50%;
  margin-left: -42px;
}

.markers-choose__description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 35px;
  text-align: center;
  color: #636363;
  font-size: 18px;
  background: #FAFAFA;
  padding: 7px;
  transition: .3s;
}

.markers-choose__price {
  font-size: 12px;
  margin-top: 5px;
}

$cluster: (
            ("small", #FF9800, white),
            ("medium", #EF6C00, white),
            ("big", #FF5722, white),
            ("extra", #F44336, white)
          );

@each $name, $background, $color in $cluster {
  .marker-cluster--#{$name} {
    &:after {
      border-color: transparent $background transparent transparent;
    }

    .marker-label__head {
      background: $background;
      color: $color;
    }

      
    .marker-label__head:before {
      background: $background;
    }
      
    .marker-label__body:before {
      background: lighten($background, 8%);
    }
      
    &:hover > .marker-label__body,
    &:hover > .marker-label__body:before {
      background: lighten($background, 12%);
    }

    .marker-label__body {
      background: lighten($background, 8%);
      color: $color;
    }
  }
}

$colors: (
          ("agrofor-1", #FAD131, #2B2B2B), ("agrofor-2", #FFC107, #2B2B2B), ("agrofor-3", #FFA726, #2B2B2B), ("agrofor-4", #FF8A65, #2b2b2b), ("agrofor-5", #8BC34A, #2b2b2b),
          ("woodfor-1", #689F38, white), ("woodfor-2", #3A983E, white), ("woodfor-3", #795548, white),
          ("fuelfor-1", #0D89EC, white), ("fuelfor-2", #039BE5, white), ("fuelfor-3", #0097A7, white)
         );

@each $name, $background, $color in $colors {

  .color-#{$name} {
    color: $background !important;
  }
  
  .border-#{$name} {
    border-color: $background !important;
  }

  .markers-choose--#{$name}.active {
    border: 3px solid $background;
  }

  .markers-choose--#{$name}.active {
    border: 3px solid $background;
  }

  .marker-label.marker-label--#{$name} {
    &:after {
      border-color: transparent $background transparent transparent;
    }

    .marker-label__head {
      background: $background;
      color: $color;
    }

      
    .marker-label__head:before {
      background: $background;
    }
      
    .marker-label__body:before {
      background: lighten($background, 8%);
    }
      
    &:hover > .marker-label__body,
    &:hover > .marker-label__body:before {
      background: lighten($background, 12%);
    }

    .marker-label__body {
      background: lighten($background, 8%);
      color: $color;
    }
  }
}

.leaflet-marker-icon:hover {
  z-index: 2000000 !important;
}