.tag {
  display: inline-block;
  vertical-align: middle;
  height: 28px;
  line-height: 28px;
  color: white;
  margin-right: 8px;
  padding: 0 35px 0 10px;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.tag__text, .tag__remove {
  display: inline-block;
  vertical-align: middle;
}

.tag__remove {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  text-align: center;
  background: rgba(255, 255, 255, 0.17);
  cursor: pointer;
}

.tag__remove:hover {
  background: rgba(255, 255, 255, 0.25);
}
