body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  outline: none;
}

a {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  outline: 0;
  font-size: .8125rem;
  border-radius: 0;
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
  line-height: 1.3rem;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}

.btn-primary {
  color: #fff;
  background-color: #6FC080;
  border-color: #6FC080;
}
.btn-primary:hover {
  background: #73CE86;
}

::-webkit-input-placeholder {font-weight: normal; font-size: 14px;}
::-moz-placeholder          {font-weight: normal; font-size: 14px;}/* Firefox 19+ */
:-moz-placeholder           {font-weight: normal; font-size: 14px;}/* Firefox 18- */
:-ms-input-placeholder      {font-weight: normal; font-size: 14px;}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.form-control {
  border: 1px solid #E4E4E4;
  border-radius: 3px;
  transition: border 150ms linear;
  box-shadow: none;
  width: 100%;
  padding: 6px 12px;
  display: block;
  line-height: 1.42857143;
}

input[type="text"].form-control,
input[type="number"].form-control,
input[type="email"].form-control {
  height: 34px;
}

input[type="text"].form-control:focus,
input[type="number"].form-control:focus,
input[type="email"].form-control:focus,
textarea.form-control:focus {
  border-color: #BCBCBC;
}

label.label {
  font-size: 13px;
  color: #59595A;
  font-weight: 500;
  margin-bottom: 5px;
  display: inline-block;
}

.select {
  position: relative;
  cursor: pointer;
}
.select .caret {
  position: absolute;
  right: 10px;
  top: 14px;
  border-top: 6px dashed;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #666;
}

.col-2 {
  width: 50%;
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-bottom: 20px;
}

.row > .col-2:first-child {
  padding-right: 10px;
}

.row > .col-2:last-child {
  padding-left: 10px;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.align-left {
  text-align: left !important;
}

.require:after {
  content: "*";
  margin-left: 2px;
  color: #FF4A4A;
}

.table {
  width: 100%;
  border-bottom: 1px solid #DCDCDC;
}

.table tr {
  cursor: default;
}
.table tbody tr:hover {
  background: rgba(247, 247, 247, 0.58);
}

.table td, .table th {
  padding: 16px 20px;
  text-align: left;
}

.table td {
  font-size: 14px;
  color: #3F3F3F;
  border-top: 1px solid #DCDCDC;
}

.table th {
  font-size: 12px;
  color: #3F3F3F;
}

.table .dim {
  display: inline-block;
  color: #8F8F8F;
  margin-left: 5px;
}

.table-icon {
  font-size: 16px;
  cursor: pointer;
  vertical-align: middle;
}
.table-actions {
  padding-right: 20px !important;
}
.table-actions a {
  text-decoration: none !important;
  color: #666666;
}
.table-actions i {
  margin-left: 15px;
}

.w0 {
  width: 1px;
  white-space: nowrap;
}

.first-td {
  padding: 5px !important;
}

a.link {
  color: #2787EB;
}